.modal-block-App {

    .header-block {
        display: flex;
        flex-direction: column;
        align-items: center;


        .title {
            color: red;
        }

        .btn-close {
            color: green;
            padding: 0;
            margin: 0 auto;
        }
    }

    .body-block {
        background-color: purple;
    }

    .footer-block {
        justify-content: start;


        .btn-cancel {
            background-color: red;
        }

        .btn-valid {
            background-color: blue;
        }
    }
}