@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.started {
    font-family: 'Abel', sans-serif;

    h4 {
        font-size: 16px;
    }

    .link a {
        color: #0366d6;
        text-decoration: none;
    }

    code {
        margin: 30px 0 30px 30px;
        padding: 8px;
        background-color: #f6f8fa;
        border-radius: 3px;
    }

    .welcome {
        text-align: center;

        .title {
            margin-bottom: 40px;
        }
    }

    .paragraph {
        margin: 40px 0 40px 50px;

        .content {
            margin: 40px 0px 40px 30px;

            .balise {
                color: #0366d6;
            }
        }
    }

    .introduction {
        .content {
            .link {
                .link-item {
                    position: relative;
                }

                .link-item:hover:after,
                .link-item:focus:after {
                    content: attr(aria-label);
                    position: absolute;
                    top: -2.2em;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    background-color: #0366d6;
                    color: #f6f8fa;
                    border-radius: 4px;
                    font-size: 1.2rem;
                    padding:3px;
                }

                [aria-label]:hover:before,
                [aria-label]:focus:before {
                    content: "▼";
                    position: absolute;
                    top: -1em;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #0366d6;
                }

                [aria-label]:focus {
                    outline: none;
                }
            }
        }


    }

    .installation {}

}